<h1>register-user</h1>


<div class="container">
    <form [formGroup]="registerFrom" (ngSubmit)="register()">


        <div>firstName:
            <input type="text" formControlName="firstName" />
            <br />
            <div *ngIf="registerFrom.get('firstName')?.invalid && registerFrom.touched">
                <span *ngIf="registerFrom.get('firstName')?.errors?.['required']" >این فیلد اجباری است </span>
            </div>
            <br />
        </div>

        <div>lastName:
            <input type="text" formControlName="lastName" />
            <br />
            <br />
        </div>


        <div>phoneNumber:
            <input type="text" formControlName="phoneNumber" />
            <br />
            <br />
        </div>

        <button class="btn btn-success"> Save</button>

    </form>

</div>