<br/>
<br/>
<mat-slider   [min]="sliderminValue" [max]="slidermaxValue" step="100" value="0" 
discrete="true"
style="width: 450px;"
showTickMarks 
>
    <input matSliderThumb [(ngModel)]="sliderValue" >
</mat-slider> {{sliderValue}}
<br/>
<br/>

<!-- 
 <mat-slider min="0" max="100">
    <input matSliderStartThumb [value]="min">
    <input  matSliderEndThumb [value]="max">
</mat-slider>
{{min}} /{{max}}  -->

<!-- range slider -->
<!-- <mat-slider min="0" max="100" style="width: 250px;"  >
    <input value="{{minvalue}}" matSliderStartThumb [(value)]="minvalue">
    <input value="{{maxvalue}}" matSliderEndThumb [(value)]="maxvalue">
</mat-slider>

  {{minvalue}} /{{maxvalue}}  -->

  <br/>
  <br/>
  <mat-slider step="10" min="0" max="100" style="width: 450px;"  discrete showTickMarks="">
    <input   matSliderStartThumb [(ngModel)]="minvalue">
    <input   matSliderEndThumb [(ngModel)]="maxvalue">
</mat-slider>

  {{minvalue}} /{{maxvalue}} 


