<form [formGroup]="customerform" (ngSubmit)="SaveCustomer()"> 
    <mat-card>
        <mat-card-content>
                <mat-form-field class="mat-50">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
    
                <mat-form-field class="mat-50">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
    
                <mat-form-field class="mat-50">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phone">
                </mat-form-field>
    
    
                <mat-form-field class="mat-50">
                    <mat-label>Country</mat-label>
                    <!-- <input matInput  > -->
                    <mat-select  formControlName="country">
                        <mat-option *ngFor="let country of countriesList"
                            [value]="country.value">{{country.viewValue}}</mat-option>
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field class="mat-50">
                    <mat-label>Term</mat-label>
                    <input type="text" placeholder="Pick one" aria-label="Term" matInput [matAutocomplete]="auto"  formControlName="term">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let term of termsList" [value]="term.viewValue">
                            {{term.viewValue}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
    
                <mat-form-field class="mat-50">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker"  formControlName="dob">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-hint>dd/MM/yyyy</mat-hint>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
    

                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <textarea matInput rows="8"  formControlName="address"></textarea>
                </mat-form-field>
                
                <div class="mat-r5">
                    <mat-radio-group   color="primary"  formControlName="gender">

                        <mat-radio-button value="Male">Male </mat-radio-button>
                        <mat-radio-button value="Female">Female </mat-radio-button>
                    </mat-radio-group>

                    <mat-checkbox color="primary"  formControlName="status" >
                        Is Active
                    </mat-checkbox>
                </div>
    

    
        </mat-card-content>
    
        <mat-card-footer>
            <div>
                <button mat-raised-button color="primary" class="m" type="submit">Save</button>
                <button mat-raised-button color="warn" class="m" (click)="ClearForm()">Clear</button>
            </div>
        </mat-card-footer>
    
    </mat-card>
</form>
